service vendor.rockit-hal-1-0 /vendor/bin/hw/rockchip.hardware.rockit@1.0-service
    class hal
    user media
    group mediadrm drmrpc media_rw sdcard_rw
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

